#main .div1 h3 {
	margin-top: 0;
}
#main .row .col-sm-2 {
	margin-bottom: 10px;
}
#main .div2 pre span {
	display: inline-block;
	width: 380px;
	padding-bottom: 7px;
}
#main .div2 pre b {
	color: red;
}
#main .div3 pre span {
	display: inline-block;
	width: 250px;
}
#main .time span {
	display: inline-block;
	width: 55px;
	overflow: hidden;
	position: relative;
	height: 85px
}
#main .time .img3 {
	position: absolute;
	top: 0;
	left: calc(-49px * 8);
	color: white;
	transition: 1s;
	transform: rotateX(0deg);
}